@model List<Activity> 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col">
            <form asp-controller="Activity" asp-action="FilterByTimeInterval">
                <div class="form-group">
                    <label class="control-label">Search by Date From</label>
                    <input class="form-control" type="date" name="from" required/>
                </div>
                <div class="form-group">
                    <label class="control-label">Search by Date To</label>
                    <input class="form-control" type="date" name="to" required/>
                </div>
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>
        </div>

        <div class="col">
            <form asp-controller="Activity" asp-action="PrintReport">
                <div class="form-group">
                    <label class="control-label">Export by Date From</label>
                    <input class="form-control" type="date" name="from" required/>
                </div>
                <div class="form-group">
                    <label class="control-label">Export by Date To</label>
                    <input class="form-control" type="date" name="to" required/>
                </div>
                <button type="submit" class="btn btn-outline-primary">Export</button>
            </form>
        </div>
    </div>

    <div class="row mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Time Spent</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i< Model.Count(); i++)
                {
                    var item = Model[i];
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.Description</td>
                        <td>@item.TimeSpent</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col mt-5">
            <a class="btn btn-success" asp-action="Create">Insert New Activity</a>
        </div>
        <div class="col">
            <form asp-controller="Activity" asp-action="SendEmail">
                <div class="form-group">
                    <label class="control-label">Send this report</label>
                    <input class="form-control" type="email" name="toEmail" required placeholder="username@mail.com"/>
                </div>
                <button type="submit" class="btn btn-outline-primary">Send</button>
            </form>
        </div>
    </div>
</div>
